<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>poppy</key>
	<dict>
		<key>avatar</key>
		<string>ic-avatar-poppy</string>
		<key>skin</key>
		<string>ic-skin-poppy</string>
		<key>cast</key>
		<integer>1</integer>
		<key>name</key>
		<string>poppy</string>
		<key>skill</key>
		<dict>
			<key>describe</key>
			<string>波比朝距离最远的敌人投掷她的圆盾，造成魔法伤害。\n圆盾随后会折返至波比处，为她提供护盾值。\n伤害: 100 / 175 / 300 \n护盾值: 200 / 350 / 600</string>
			<key>name</key>
			<string>圆盾投掷</string>
		</dict>
		<key>traits</key>
		<array>
			<string>starguardian</string>
			<string>vanguard</string>
		</array>
		<key>star</key>
		<array>
			<dict>
				<key>hp</key>
				<integer>650</integer>
				<key>mpFirst</key>
				<integer>60</integer>
				<key>mpMax</key>
				<integer>120</integer>
				<key>armor</key>
				<integer>40</integer>
				<key>resistance</key>
				<integer>20</integer>
				<key>attack</key>
				<integer>50</integer>
				<key>attackSpeed</key>
				<real>0.55</real>
				<key>critical</key>
				<real>0.25</real>
				<key>attackDistance</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>hp</key>
				<integer>1170</integer>
				<key>mpFirst</key>
				<integer>60</integer>
				<key>mpMax</key>
				<integer>120</integer>
				<key>armor</key>
				<integer>40</integer>
				<key>resistance</key>
				<integer>20</integer>
				<key>attack</key>
				<integer>90</integer>
				<key>attackSpeed</key>
				<real>0.55</real>
				<key>critical</key>
				<real>0.25</real>
				<key>attackDistance</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>hp</key>
				<integer>2106</integer>
				<key>mpFirst</key>
				<integer>60</integer>
				<key>mpMax</key>
				<integer>120</integer>
				<key>armor</key>
				<integer>40</integer>
				<key>resistance</key>
				<integer>20</integer>
				<key>attack</key>
				<integer>162</integer>
				<key>attackSpeed</key>
				<real>0.55</real>
				<key>critical</key>
				<real>0.25</real>
				<key>attackDistance</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
